.DS_Store
Soviet-Keyswitch-Replacement/Soviet_Keyswitch_Replacement.kicad_prl
Soviet-Keyswitch-Replacement/fp-info-cache
/Soviet-Keyswitch-Replacement/Soviet_Keyswitch_Replacement-backups
/TFC_10-pin/TFC_10-pin-backups
TFC_10-pin/TFC_10-pin.kicad_prl
TFC_8-pin_IDC/fp-info-cache
/TFC_8-pin_IDC/TFC_8-pin_IDC-backups
TFC_8-pin_IDC/TFC_8-pin_IDC.kicad_prl
TFC_10-pin/fp-info-cache
/2764-to-MK36000/2764-to-MK36000-backups
2764-to-MK36000/2764-to-MK36000.kicad_prl
2764-to-MK36000/fp-info-cache
/8080_Logic_Analyser/8080_Logic_Analyser-backups
*.kicad_prl
8080_Logic_Analyser/fp-info-cache
Z80_Logic_Analyser/fp-info-cache
/Z80_Logic_Analyser/Z80_Logic_Analyser-backups
