.DS_Store
Soviet-Keyswitch-Replacement/Soviet_Keyswitch_Replacement.kicad_prl
Soviet-Keyswitch-Replacement/fp-info-cache
/Soviet-Keyswitch-Replacement/Soviet_Keyswitch_Replacement-backups
/TFC_10-pin/TFC_10-pin-backups
TFC_10-pin/TFC_10-pin.kicad_prl
TFC_8-pin_IDC/fp-info-cache
/TFC_8-pin_IDC/TFC_8-pin_IDC-backups
TFC_8-pin_IDC/TFC_8-pin_IDC.kicad_prl
TFC_10-pin/fp-info-cache
